/* Body Styles */
body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 300px 20px 20px 20px; /* Ylhäältä 300px, oikealta 20px, alhaalta 20px, vasemmalta 20px */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

body.brand-page {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 20px 20px 20px 20px; /* Ylhäältä 300px, oikealta 20px, alhaalta 20px, vasemmalta 20px */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Body Styles for screens 770px or smaller */
@media (max-width: 770px) {
    body {
        padding: 20px; /* Uniform padding for all sides */
    }
}


/* Container */
.container {
    max-width: 800px;
    margin: auto;
    background-color: rgba(27, 38, 49, 0.7); /* Muuttaa taustan läpinäkyväksi */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #fff;
}

.result-paragraph {
    background-color: #1b4965;
    padding: 5px;
    border-radius: 4px; /* Pyöristetyt reunat */
}



/* Table Styles */
.form-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 0px solid white; /* Lisää 2px valkoinen reunus */
    table-layout: fixed; /* Varmistaa, että sarakkeet ovat yhtä leveitä */
}

.form-table td {
    padding: 10px;
    vertical-align: top;
    color: #fff;
    border: 0px solid white; /* Lisää 2px valkoinen reunus */
}

/* Form Field Styles */
select, input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000;
    background-color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

/* Result Section */
.result {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
}

/* Saved Results Styles */
/* Container Flexbox Setup */
.saved-results {
    display: flex;
    flex-wrap: wrap; /* Kortit ryhmittyvät useammalle riville tarvittaessa */
    gap: 10px; /* Lisää pieni väli korttien välille */
    transition: all 0.5s ease; /* Transition, joka tekee uudelleenjärjestäytymisen sulavaksi */
}



/* Fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9) translateY(20px);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* Fade-out animation */
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
    to {
        opacity: 0;
        transform: scale(0.9) translateY(-20px);
    }
}

/* Korttien siirtymät ja ilmestyminen */
.result-card {
    background-color: #fffafa;
    color: #000;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(33% - 10px);
    box-sizing: border-box;
    position: relative;
    opacity: 0;
    transform: scale(0.9);
    animation: fadeIn 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1;
}

/* Kortin hover-tila */
.result-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

/* Kun kortti poistetaan */
.result-card.removing {
    animation: fadeOut 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    transform: scale(0.9);
}

.result-card .card-content {
    font-size: 14px;
    padding-right: 1px; /* Varmistaa, että sisältö ei mene poistoruksin päälle */
}

/* Poistoruksin tyyli */
.result-card .remove-button {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    font-size: 32px;
    color: #cc3333;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Poistoruksin hover-tila */
.result-card .remove-button:hover {
    color: #b83131;
    transform: scale(1.2) rotate(90deg);
}

/* Mobile Responsive Layout */
@media screen and (max-width: 768px) {
    .form-table td {
        display: block;
        width: 100%;
    }

    .container {
        max-width: 100%;
    }

    .button-container {
        flex-direction: column;
    }

    .result-card {
        width: 100%;
        margin-bottom: 15px;
        transform: scale(0.95);
    }
    
    .result-card:hover {
        transform: translateY(-3px) scale(0.98);
    }
}

@media screen and (max-width: 768px) {
    /* Make the saved results container full width */
    .saved-results {
        flex-direction: column; /* Stack cards vertically */
    }

    /* Make the result cards take full width */
    .result-card {
        width: 100%; /* Full width in mobile */
        margin-bottom: 10px; /* Add space between cards */
    }
}


/* Button Styles */
/* Button Container (Flexbox) */
.button-container {
    display: flex;
    gap: 10px; /* Space between buttons */
    flex-wrap: nowrap; /* Prevent wrapping */
    justify-content: flex-start; /* Align buttons to the left */
    align-items: center; /* Vertically center buttons */
}

/* General Button Styles */
button {
    background: #D3AC37;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: inherit;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    white-space: nowrap;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); /* Pehmeämpi siirtymä */
    position: relative;
    overflow: hidden;
}

/* Hover and focus effects */
button:hover, 
button:focus {
    background: #CBBB47;
    transform: translateY(-2px) scale(1.02); /* Yhdistetty leijunta ja kasvu */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    outline: none;
}

/* Active effect (painallus) */
button:active {
    transform: translateY(1px) scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Calculate Button Specific Styles */
button#calculateButton {
    flex-grow: 1; /* Allow the calculate button to take up the remaining space */
}

button#calculateButton:hover {
    background: #45a049;
}

/* Clear Button Specific Styles */

button#calculateButton {
    background: #81b463 !important;
    color: white !important;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button#calculateButton:hover {
    background: #6e9457 !important;
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

button#clearButton {
    background: #d96fc5 !important;
    color: white !important;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: none;
}

button#clearButton:hover {
    background: #d95fc2 !important;
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Add to Compare Button */
#addToCompareButton {
    background: #5f74d9;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: none;
}

#addToCompareButton:hover {
    background: #475ed1;
    transform: scale(1.02);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

/* Tabs container */
.tabs {
    display: flex;
    position: relative; /* For glider positioning */
    margin-bottom: 10px;
    border-bottom: 4px rgba(27, 38, 49, 0.7); /* Muuttaa taustan läpinäkyväksi */
    width: 100%; /* Full width for tabs */
    overflow: hidden; /* Prevent overflow during resizing */
}

/* Individual tabs */
.tab {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 16px;
    border-top-left-radius: 4px; /* Rounded top left */
    border-top-right-radius: 4px; /* Rounded top right */
    cursor: pointer;
    background-color: #fff; /* Default background */
    color: #000;
    outline: none;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, flex-grow 0.3s ease;
    flex: 1; /* Default width for equal spacing */
	
}

.tab.active {
    background-color: #D3AC37; /* Active tab background */ 
    color: #fff; /* Active tab text color */
    z-index: 2; /* Ensure it stays above the glider */
    flex-grow: 1.5; /* Highlight active tab by growing it */
	
}

/* Glider for transition effect */
.glider {
    position: absolute;
    height: 54px;
    width: 0; /* Default width, adjusted dynamically */
    background-color: var(--secondary-color);
    border-radius: 99px; /* Pill effect */
    z-index: 1;
    transition: transform 0.25s ease-out, width 0.25s ease-out;
}

/* Radio button behavior */
input[type="radio"] {
    display: none; /* Hide radio buttons */
}

input[id="tab-1"]:checked ~ .glider {
    transform: translateX(0); /* First tab position */
}

input[id="tab-2"]:checked ~ .glider {
    transform: translateX(100%); /* Second tab position */
}

.tab-content.active {
    display: block;
}


/* Tyylit otsikon painikkeelle */
.accordion {
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.accordion:hover {
    background-color: #b39926;
}

.accordion.active::after {
    content: "▲"; /* Vaihda nuolen suunta ylös */
}

.accordion::after {
    content: "▼"; /* Nuolen suunta alas */
    float: right;
    margin-left: 10px;
}

/* Piilotetun sisällön tyylit, käytetään max-height smoothiin avautumiseen */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    padding: 0 18px;
    margin-top: 5px;
    border-radius: 4px;
}

/* Kun accordion on aktiivinen ja näytetään sisältö */
.accordion-content.show {
    max-height: 500px; /* Riittävän suuri sisältöä varten */
    transition: max-height 0.5s ease-in;
}

/* Varmista, että "Kulutustiedot" on oletuksena auki */
.accordion.active + .accordion-content {
    display: block;
    max-height: 500px;
}
/* Kohdistus vain #introContainerin sisäiseen taulukkoon */
#introContainer table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px 0;
    border: 1px solid rgba(27, 38, 49, 0.2);
    table-layout: fixed; /* Tasaa sarakkeiden leveydet */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Taulukon varjo */
    transition: box-shadow 0.3s ease; /* Smooth shadow change */
    border-radius: 4px; /* Kulmien pyöristys */
    overflow: hidden; /* Estää sisällön ylityksen pyöristyksen sisällä */
}

#introContainer th, #introContainer td {
	padding: 10px 4px 10px 4px; 
    border: 1px solid rgba(27, 38, 49, 0.2);
    text-align: center; /* Tekstit keskitetään vaakasuunnassa */
    vertical-align: middle; /* Tekstit keskitetään pystysuunnassa */
    transition: transform 0.2s ease, background-color 0.3s ease, border-radius 0.3s ease; /* Hover animation */
}

#introContainer th {
    background-color: #D3AC37;
    color: #fff;
    font-weight: bold;
}

#introContainer td {
    /* background-color: #fff; */
	/* text-align: left; */
}

/* Hover effect for table cells */
#introContainer th:hover, #introContainer td:hover {
    transform: scale(1.05); /* Pop-out effect */
    background-color: rgba(27, 38, 49, 1); /* Subtle background color change */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slight shadow for hover effect */
    border-radius: 4px; /* Kulmien pyöristys soluille hover-tilassa */
}

/* Optional: Table shadow on hover */
#introContainer table:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase shadow intensity */
}

/* Layerin oletustila (piilotettu) */
#comparisonLayer {
    position: fixed;
    top: 50%;
    right: -400px; /* Piilotettuna näytön ulkopuolella */
    width: 350px;
    background-color: rgba(27, 38, 49, 0.9); /* Tumma tausta */
    color: #fff; /* Valkoinen teksti */
    padding: 5px;
    border-radius: 8px 0px 0px 8px; /* Pyöristetyt kulmat */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Hieno varjo */
    transform: translateY(-50%); /* Keskitetty pystysuunnassa */
    transition: right 0.5s ease-in-out; /* Sulava siirtymä */
    z-index: 1000; /* Layer näkyy päällä */
    text-align: center;
}

/* Piilotettu tila */
#comparisonLayer.hidden {
    right: -440px; /* Piilossa oikealla */
}

/* Näkyvä tila: liuku sisään */
#comparisonLayer.slide-in {
    right: 0px; /* Näkyvissä näytöllä */
}

#comparisonLayer .close-button {
    position: absolute;
    top: 2px; /* Etäisyys layerin yläreunasta */
    right: 2px; /* Etäisyys layerin oikeasta reunasta */
    cursor: pointer;
    font-size: 24px; /* Ruksin koko */
    color: #cc3333; /* Punainen väri */
    font-weight: bold; /* Vahva fontti */
    background: none; /* Ei taustaväriä */
    border: none; /* Ei reunuksia */
    outline: none; /* Ei korostusta */
    z-index: 1100; /* Varmistaa, että se näkyy päällä */
    transition: transform 0.3s ease, color 0.3s ease; /* Sulava hover-siirtymä */
    box-shadow: none; /* Poistaa hoverilla näkyvän varjon */
}

#comparisonLayer .close-button:hover {
    color: #b83131; /* Tummempi punainen hoverilla */
    transform: scale(1.2); /* Suurentaa hoverilla */
}

/* Tekstin ja nappulan sisältö vasemmalle */
#comparisonLayer p {
    margin-top: 10px; /* Väli yläreunasta */
    line-height: 2; /* Mukava riviväli */
    text-align: left; /* Tasaus vasemmalle */
    margin-left: 10px; /* Pieni sisennys vasemmalta */
    margin-right: 0px; /* Pieni sisennys oikealta */
}



/* Sama tyyli domain-otsikolle */
h2.domain {
    background: #D3AC37;
    color: white;
    border-radius: 4px;
    padding: 10px 20px;
    display: inline-block; /* Jotta se pysyy samalla rivillä */
    font-size: 24px; /* Voit säätää otsikon kokoa */
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Inline-h2-tyyli, jotta se tulee samalle riville */
h2.inline-h2 {
    display: inline-block; /* Pitää elementin samalla rivillä */
    font-size: 24px; /* Sama fonttikoko kuin domain-otsikossa */
    margin-left: 10px; /* Pieni väli ensimmäisen osan jälkeen */
    font-weight: normal; /* Voit säätää painotusta halutessasi */
    color: #fff; /* Tekstin väri */
}

/* Media query näytöille alle 685px */
@media screen and (max-width: 685px) {
    h2.domain {
        margin-bottom: -5px; /* Lisää väliä domain-otsikon alapuolelle */
    }

    h2.inline-h2 {
        display: block; /* Vaihtaa otsikon allekkain-asetteluun */
        font-size: 13px; /* Puolitetaan fonttikoko */
        margin-left: 0; /* Poistetaan marginaali, koska ne ovat allekkain */
		/* font-weight: bold; */
    }
}

/* Styling for buttons */
.expand-button {
    background: #D3AC37;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.expand-button:hover {
    background: #b39926;
    transform: translateY(-2px) scale(1.02);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.expand-button:active {
    transform: translateY(1px) scale(0.98);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Add ripple effect */
button::after,
.expand-button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.5s, opacity 1s;
}

button:active::after,
.expand-button:active::after {
    transform: scale(0, 0);
    opacity: 0.3;
    transition: 0s;
}

/* Smooth transition for the form display */
#formContainer {
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

#formContainer.show {
    opacity: 1;
}

/* Add more space below the main button */
#mainButton {
    margin-bottom: 20px;
}

/* Oletusarvo: Footer kiinteä suuremmilla näytöillä */
.footer {
    background-color: rgba(27, 38, 49, 0.7);
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative; /* Kiinteä alareunassa oletuksena */
    bottom: 0;
    left: 0;
    margin: 350px auto 0; /* Keskittää footerin ja lisää marginaalin ylhäältä */
    max-width: 800px;
	border-radius: 4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4px;;
    transition: all 0.3s ease;
}


/* Mobiilinäkymässä footer mukautuu sisältöön */
@media (max-width: 1000px) {
    .footer {
        position: relative; /* Poistaa kiinteän alareunan asetuksen */
        margin-top: 400px; /* Lisää reilu marginaali sisällön jälkeen */
        margin-left: auto; /* Siirtää footerin oikealle */
        border-radius: 4; /* Poista pyöristykset mobiilissa */
        box-shadow: none; /* Poista varjo mobiilissa */
        background-color: rgba(27, 38, 49, 0.7); /* Sama taustaväri */
    }
}


.footer-links a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0;
}

/* Separator styling */
.separator {
    color: #fff;
    display: inline; /* Default */
}

/* Responsive adjustments */
@media (max-width: 770px) {
    .footer-links a {
        display: block; /* Stack links */
        margin: 5px 0; /* Spacing for readability */
    }
    .separator {
        display: none; /* Hide separators on mobile */
    }
}

/* Blog Container Styles */
.blog-container {
    max-width: 800px; /* Max width to match other containers */
    margin: auto; /* Center the container */
    background-color:  rgba(255, 255, 255, 0.90); /* White transparent background */
    color: #000; /* Black text for readability */
    padding: 20px; /* Padding inside the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background changes */
}

h2.blog {
    display: inline-block; /* Pitää elementin samalla rivillä */
    font-size: 24px; /* Sama fonttikoko kuin domain-otsikossa */
    margin-left: 10px; /* Pieni väli ensimmäisen osan jälkeen */
    font-weight: normal; /* Voit säätää painotusta halutessasi */
    color: #000; /* Tekstin väri */
}


/* Optional: Media Query for Responsiveness */
@media screen and (max-width: 768px) {
    .blog-container {
        padding: 15px; /* Adjust padding for smaller screens */
        max-width: 100%; /* Allow full width on mobile */
    }
}

.table-terms {
    width: 100%;
    border-collapse: collapse;
}

.table-terms th, 
.table-terms td {
    text-align: left; /* Asettaa tekstin vasempaan reunaan */
    padding: 15px;   /* Lisää väliä solujen välillä */
    border: 1px solid #ddd; /* Lisää raja soluille */
    color: black; /* Tekstin väri mustaksi */
}

.table-terms th {
    background-color: #f2f2f2; /* Taustaväri otsikoille */
}

.table-terms tr:nth-child(even) {
    background-color: #f9f9f9; /* Vaihteleva taustaväri riveille */
}

.table-terms tr:nth-child(odd) {
    background-color: #e0e0e0; /* Vaihteleva taustaväri riveille */
}

.terms-container {
    max-width: 800px; /* Max width to match other containers */
    margin: auto; /* Center the container */
    background-color:  rgba(27, 38, 49, 0.7); /* White transparent background */
    color: #fff; /* Black text for readability */
    padding: 20px; /* Padding inside the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for background changes */
	
	
